<ion-content class="background" [fullscreen]="true">

    <!-- Barra de pesquisa -->
    <app-search-bar [page]="'Pesquisar'"></app-search-bar>

    <!-- Espaçamento -->
    <div style="margin-bottom: 30px;"></div>

    <!-- Empresa -->
    <app-company-item *ngIf="companyService.isCNPJValid" [page]="'Pesquisar'" [company]="companyService.searchedCompany"></app-company-item>

    <!-- Erros -->
    <app-error-item *ngIf="!companyService.isCNPJValid" [message]="companyService.errorMessage" [type]="companyService.errorType"></app-error-item>

</ion-content>