//  Fundo
.background {
    --background: var(--white);
}

//  Logotipo
.logo {
    width: 76%;
    height: 60%;
    left: 12%;
    position: relative;
}

//  Título abaixo do logotipo
.title {
    font-family: var(--std-font);
    color: var(--gray-1);
    font-size: 20px;
    font-weight: 500;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: -20%;
    margin-bottom: -100px;
}